.container{
    width: 1000px;


}
.d1 {
    text-align: center;
    float: left;
    border-bottom: 2px solid;
    height: 150px;
    width: 190px;
    margin-top: 40px;
    /*text-align: end;*/


}

#button{
    width: 40%;

}
/*.lable{*/
/*    text-align: left;*/
/*    font-size: 24px;*/
/*    height: 50px;*/
/*    border-bottom: 2px #d2d2d2 solid;*/
/*    margin-top: 30px;*/
/*}*/
/*#iconCart{*/
/*    margin-top: -10px;*/
/*}*/
/*@media screen and (max-width: 600px) {*/
/*    table#cart tbody td .form-control {*/
/*        width: 20%;*/
/*        display: inline !important;*/
/*    }*/
/*    .actions .btn {*/
/*        width: 36%;*/
/*        margin: 1.5em 0;*/
/*    }*/
/*    .actions .btn-info {*/
/*        float: left;*/
/*    }*/
/*    .actions .btn-danger {*/
/*        float: right;*/
/*    }*/
/*    table#cart thead {*/
/*        display: none;*/
/*    }*/
/*    table#cart tbody td {*/
/*        display: block;*/
/*        padding: .6rem;*/
/*        min-width: 320px;*/
/*    }*/
/*    table#cart tbody tr td:first-child {*/
/*        background: #333;*/
/*        color: #fff;*/
/*    }*/
/*    table#cart tbody td:before {*/
/*        content: attr(data-th);*/
/*        font-weight: bold;*/
/*        display: inline-block;*/
/*        width: 8rem;*/
/*    }*/
/*    table#cart tfoot td {*/
/*        display: block;*/
/*    }*/
/*    table#cart tfoot td .btn {*/
/*        display: block;*/
/*    }*/
/*}*/